body {
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
}

#logo {
    margin-top: 5em;
    margin-bottom: 1.5em;
}

#launching {
    font-weight: 300;
    color: hsl(0, 0%, 59%);
}

#soon {
    font-weight: 900;
    color: hsl(209, 33%, 12%);
}

#input-field {
    margin: 0 auto;
    max-width: 720px;
}

#illustration-container {
    max-width: 1440px;
    margin: 0 auto;
}

#notify-me {
    background-color: hsl(223, 87%, 63%);
    border: none;
    color: #fff;
    width: 20%;
    height: 2.5em;
}

#email-address {
    width: 50%;
    height: 2.3em;
    color: hsl(0, 0%, 59%);
    border: 1px solid hsl(0, 0%, 59%);
}

#email-address,
#notify-me {
    border-radius: 20px;
    margin: 10px 20px 60px 10px;
}

#error-message {
    display: none;
    margin-top: 1em;
    color: hsl(354, 100%, 66%);
}


/* @media all and (max-width: 375px) {
    #illustration-container {
        max-width: 375px;
    }
    #illustration {
        max-width: 187.5px;
        width: 100%;
    }
} */

#illustration {
    margin: 0 auto;
    max-width: 720px;
    width: 100%;
}

#social-media-copyright {
    margin-top: 3em;
}

#social-media-copyright a {
    font-size: 26px;
    margin: 0 10px;
    color: hsl(223, 87%, 63%);
    text-decoration: none;
}

#social-media-copyright a:hover {
    color: hsl(223, 100%, 88%);
}