body {
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
}

#launching {
    color: hsl(0, 0%, 59%);
}

#soon {
    color: hsl(209, 33%, 12%);
}

#illustration {
    max-width: 1024px;
    width: 100%;
}

#social-media-copyright a {
    font-size: 26px;
    margin: 0 10px;
    color: hsl(223, 87%, 63%);
    text-decoration: none;
}

#social-media-copyright a:hover {
    color: hsl(223, 100%, 88%);
}